*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}



body{
    font-family: "Inter", sans-serif;
    background-color: #e8f0f7;
    /* padding-top: 40px; */
}



.circle1{
  color: white;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  margin-left: 40px;
  background-color: rgb(163, 224, 224);
}
.circle1 a{
  color: white;
  margin-bottom: 40px;
}

.circle2{
  color: white;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  margin-left:20px;
  margin-right: 10px;
  background-color: rgb(214, 26, 35);
}

.circle2 a{
  color: white;
  margin-bottom: 90px;
}

.ms-n5 {
  margin-left: -40px;
}

.bellIcon a{
  margin-left: 10px;
}
.userIcon a img{
  width: 35px;
  margin-left: 10px;
  border-radius: 50%;
  margin-top: 3px;
}

.smalluserIcon a img{
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
}

.smalluserIcon1{
  width: 40px;
  border-radius: 50%;
  margin-top: 3px;
}

